<form [formGroup]="form" class="slds-form">
  <slds-form-element
    [hasError]="hasError('id')"
    [required]="true"
    label="Campaign ID"
    errorText="ID is required."
  >
    <input
      required=""
      formControlName="id"
      type="text"
      placeholder="Add campaign ID…"
      required=""
      class="slds-input"
    />
  </slds-form-element>
  <slds-notification
    text="Enter ID of the Leanplum campaign you would like to target."
    linkText="Open leanplum"
    link="https://www.leanplum.com/"
  ></slds-notification>

  <slds-form-element
    [hasError]="hasError('message')"
    [required]="true"
    label="Message"
    errorText="Message is required."
  >
    <textarea
      formControlName="message"
      placeholder="Add campaign message…"
      class="slds-textarea"
    ></textarea>
  </slds-form-element>

  <slds-notification
    text="Enter the message you would like to send to your users. Do not include any PII data since Leanplum is not equiped to handle it."
  ></slds-notification>

  <slds-form-element
    [hasError]="hasError('volvoId')"
    [required]="true"
    label="Volvo ID Binding"
    errorText="Volvo ID binding is required."
  >
    <textarea
      formControlName="volvoId"
      placeholder="Volvo ID data binding"
      class="slds-textarea"
    ></textarea>
  </slds-form-element>

  <slds-notification
    [text]="
      'Add Data Binding for the Volvo ID: {{Contact.Attribute.JOURNEY_DE.ATTRIBUTE}} where JOURNEY_DE is the name of the entry data extension of the joureny and ATTRIBUTE is the attribute where the Volvo Id is stored. '
    "
    linkText="Read more."
    link="https://developer.salesforce.com/docs/marketing/marketing-cloud/guide/how-data-binding-works.html"
  ></slds-notification>
</form>
